<% include ./partials/header %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-6">
      <h1 class="text-center">Sign Up</h1>
      <form class="ui form" action="/signup" method="POST">
        <div class="field">
            <label>Username <span class="required">*</span></label>
            <input type="text" name="username" placeholder="username" required>
        </div>
        <div class="field">
            <label>Password <span class="required">*</span></label>
            <input type="password" name="password" placeholder="password">
        </div>
        <button type="submit" class="btn btn-outline-secondary mt-1">Sign Up</button>
      </form> 
    </div>
  </div>
</div>
<% include ./partials/footer %>