.url {
    font-size: .8rem;
}

div.votes {
    font-size: .9rem;
    color: gray;
}

#gsgLogo {
    height: 30px;
    opacity: 1.0;
}

h1 img {
    height: 100px;
}

div img {
    opacity: 0.5;
    height: 50px;
}

.hoveredPraisingHand {
    transition: 0.1s linear;
    opacity: 1.0;
    height: 60px;
}

.clickedPraisingHand {
    transition: 0.1s linear;
    opacity: 1.0;
    height: 50px;
}

@media (min-width: 992px) { 
    #feed {
        width: 50%;
    }
}