.url {
    font-size: .8rem;
}

div.votes {
    font-size: .9rem;
    color: gray;
}

#gsgLogo {
    height: 30px;
    opacity: 1.0;
}

#goodImage {
    height: 70px;
    opacity: 1.0;
}

.btn {
    border-color: #a8a8a8;
}

.btn:hover {
    background-color: #0076bb;
    border-color: #0076bb;
}

h1 img {
    height: 70px;
}

div img {
    opacity: 0.5;
    height: 50px;
}

p.postedBy {
    font-size: .7rem;
    color: gray;
}

.link-button {
    background: none; 
    border: none;
}

.link-button:focus {
    outline: none;
}

.hoveredPraisingHand {
    transition: 0.1s linear;
    opacity: 1.0;
    height: 60px;
}

.clickedPraisingHand {
    transition: 0.1s linear;
    opacity: 1.0;
    height: 50px;
}

@media (min-width: 992px) { 
    #feed {
        width: 50%;
    }
}