<% include ../partials/header %>

<h1>New post</h1>

<form action="/posts" method="POST">
    <input type="text" name="post[title]" placeholder="title">
    <input type="text" name="post[url]" placeholder="url">
    <input type="text" name="post[description]" placeholder="description">
    <input type="text" name="post[image]" placeholder="image">
    <input type="submit" value="Add">
</form>

<% include ../partials/footer %>