<% include ../partials/header %>

<!-- <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-6">
            <h1 class="text-center">New Post</h1>
            <form class="ui form" action="/posts" method="POST">
                <div class="field">
                    <label>Title <span class="required">*</span></label>
                    <input type="text" name="post[title]" placeholder="Title" required>
                </div>
                <div class="field">
                    <label>URL</label>
                    <input type="url" name="post[url]" placeholder="URL">
                </div>
                <div class="field">
                    <label>Description</label>
                    <textarea rows="2" name="post[description]" placeholder="Description"></textarea>
                </div>
                <div class="field">
                    <label>Image URL</label>
                    <input type="url" name="post[image]" placeholder="Image URL">
                </div>
                <button type="submit" class="btn btn-outline-secondary mt-1">Submit</button>
            </form>
        </div>
    </div>
</div> -->
<div id="add_new"></div>

<% include ../partials/footer %>