.about-container {
  margin: 0 auto;
  background-image: url("https://raw.githubusercontent.com/matthewcline/gosharegood/master/client/public/imgs/about_circle.png");
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0%;
  background-color: pink;
  height: 100vh;
}

.about-container-text {
  padding-top: 10%;
  width: 70%;
  margin: 0 auto;
  /* color: white; */
  color: rgb(22,32,64);
}

.about-container img {
  width: 15rem;
}