.about-container {
  margin: 0 auto;
  /* background-image: url("https://raw.githubusercontent.com/matthewcline/gosharegood/master/client/public/imgs/about_circle.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0%;
  /* background-color: rgb(255, 217, 112, 0.7); */
  /* height: 100vh; */
}

.about-container-text {
  padding-top: 5%;
  color: rgb(22,32,64);
}

.about-container-inner-text {
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

.about-container img {
  width: 15rem;
}

.video-div { 
  position: relative; 
}

.video-div video {
    position: relative;
    z-index: 0;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
    margin-left: 15%;
    justify-content: center;
    z-index: 1;
}