.home {
  /* background-image: url("https://github.com/matthewcline/gosharegood/blob/master/client/public/imgs/home_background.png?raw=true"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position-y: 0%; */
  background-attachment: fixed;
  min-height: 100vh;
}

.add-post-btn {
  padding-top: 15px;
  padding-bottom: 15px;
}