#share-btn {
  color: rgb(233, 30, 99, 0.9);
  border: rgb(233, 30, 99, 0.9) 1px solid;
  padding: 7px;
}

#share-btn:hover {
  color: white;
  background-color: rgb(233, 30, 99, 0.8);
}

.home {
  /* background-image: url("https://github.com/matthewcline/gosharegood/blob/master/client/public/imgs/home_background.png?raw=true"); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
  /* background-position-y: 0%; */
  /* background-attachment: fixed;
  min-height: 100vh; */
}

.add-post-btn {
  display: flex;
  padding-top: 15px;
  padding-bottom: 25px;
}

/* .aws-btn {
  --button-default-height: 48px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  --button-primary-color: #e91e63;
  --button-primary-color-dark: #a31545;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #c2185b;
  --button-primary-border: none;
  --button-secondary-color: #fffc6c;
  --button-secondary-color-dark: #b9b500;
  --button-secondary-color-light: #6c6a00;
  --button-secondary-color-hover: #fffb3e;
  --button-secondary-border: none;
  --button-anchor-color: #f3c8ad;
  --button-anchor-color-dark: #734922;
  --button-anchor-color-light: #4c3016;
  --button-anchor-color-hover: #f1bfa0;
  --button-anchor-border: 1px solid #8c633c;
} */