.login-container {
  margin: 0 auto;
  background-image: url("https://raw.githubusercontent.com/matthewcline/gosharegood/master/client/public/imgs/login_circle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 0%;
  height: 100vh;
}

.login-form-container {
  padding-top: 10%;
}

.login-container h1 {
  color: white;
}
