.login-container {
  margin: 50px auto;
  height: 100vh;
  background-image: url("https://raw.githubusercontent.com/matthewcline/gosharegood/master/client/public/imgs/login_circle.png");
  background-image: no-repeat;
}

.login-container h1 {
  color: white;
}
