.navbar {
  color: rgb(104, 104, 104);
  margin: 25px auto;
}

.nav-container {
  width: 75%;
}

.link-container {
  margin-right: 1px;
  cursor: pointer;
}

.link-container:hover {
  color: rgb(52,77,252);
}

.active {
  color: rgb(22,32,64);
}

