.post {
  /* margin: auto; */
  /* width: 50rem; */
  margin: 15px auto;
  /* background-color: rgba(255, 255, 255, 1); */
  /* background-color: rgba(0, 176, 255, 0.5); */

}

.hands-div {
  border-radius: 50%;
  border: 1px rgba(0, 176, 255, 0.2) solid; 
  padding: 6px 7px 12px 7px;
}

.clicked-hands-div {
  background-color: rgba(0, 0, 255, 1.0);
  border: 1px rgba(0, 0, 255, 0.5) solid;
  color: white;
}

@media only screen and (min-width: 992px) {
  .post {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .post {
    width: 50%;
  }
}