.post-list {
  /* margin: 50px auto 10px auto; */
  /* width: 60rem; */
  /* height: 100vh; */
  /* border: #2afe23 1px solid; */
  padding: 0;
  /* width: 60%; */
}

@media only screen and (min-width: 992px) {
  .post-list {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .post-list {
    width: 50%;
  }
}